In [16]:
# Now let us check the accuracy of the model
# First we will import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import copy
# import seaborn as sns

Load output of the model

In [23]:
lm_df = pd.read_csv('output.csv', sep=";", index_col=0)
lm_df.head()

            text  label
id
362        7,82€  TOTAL
362   07/06/2017   DATE
23         1.62€  TOTAL
23      09/06/20   DATE
1543          4,  TOTAL

In [26]:
lm_df.sort_index(inplace=True)
lm_df.head()

          text  label
id
4   27/02/2017   DATE
4       6b.74€  TOTAL
5       11.16€  TOTAL
5     26/02/20   DATE
6        b.99€  TOTAL

In [17]:
date = copy.deepcopy(lm_df[lm_df['label'] == 'DATE'])
date.head()

     id        text label
1   362  07/06/2017  DATE
3    23    09/06/20  DATE
5  1543          DI  DATE
6  1543         203  DATE
7  1543         13:  DATE

In [18]:
total = copy.deepcopy(lm_df[lm_df['label'] == 'TOTAL'])
total
total.head()

      id   text  label
0    362  7,82€  TOTAL
2     23  1.62€  TOTAL
4   1543     4,  TOTAL
10  1934   7.90  TOTAL
11  1934   7.90  TOTAL

In [20]:
total["id"] = total["id"].astype(int)

In [22]:
total["id"]

0       362
2        23
4      1543
10     1934
11     1934
       ...
822    1096
825     222
826     222
830    1731
831     204
Name: id, Length: 358, dtype: int64